.toolbar
  display flex
  justify-content space-between
  .navbar-left
    flex 1
  .navbar-right, .navbar-left
    flex 1
    display flex
    justify-content flex-end
    div
      padding 10px
  .navbar-left
    justify-content flex-start