span
  img.thumbnail(ng-if='!image', ng-src='http://placehold.it/{{width}}x{{height}}&text={{text}}', style='width: 100%')
  img.thumbnail(ng-if='image', ng-src='https://res.cloudinary.com/parks-brainstorm/image/upload/c_fill,h_{{height}},w_{{width}}/{{image.public_id}}', style='width: 100%')