.image-uploader
  position relative
  display inline-block
  
  .progress-bar
    position absolute
    bottom 0
    width 100%
    padding-bottom 1rem
    
    .status
      display: none;
    
    .progress
      background #00558B
      height 0.5rem